.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader {
	background: #CDD8BA;
	border-color: #9BB763;
	color: #2B6F18;
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelContent {
	background: #CDD8BA;
	border-color: #9BB763;
	background-color:#CDD8BA; 
}