.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader {
	background: #CDD8BA !important;
	border-color: #9BB763 !important;
	color: #2B6F18 !important;
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelContent {
	border-color: #9BB763 !important;
}